{% extends "podomarket_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}Reset Password | Podo Market{% endblock title %}

{% block content %}
<div class="password-reset podo-box">
  <h1 class="heading">Reset Password</h1>
  <form class="form" method="post">
    {% csrf_token %}
    <div>
      {{ form.email|add_class:"podo-input"|add_error_class:"error"|attr:"placeholder:Email." }}
      {% for error in form.email.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <button class="podo-button large primary submit" type="submit">Send Email</button>
  </form>
</div>
{% endblock content %}
