{% extends "podomarket_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Signup | Podomarket{% endblock title %}

{% block body_class %}with-border with-background{% endblock %}

{% block content %}
<div class="signup">
  <form method="post">
  <a href="{% url 'index' %}">
  <img class="logo" src="{% static 'podomarket/assets/logo.svg' %}" alt="Podomarket">
</a>
  {% csrf_token %}
  <div class="email">
    {{ form.email|add_class:"podo-input"|attr:"placeholder:Email"|add_error_class:"error" }}
    {% for error in form.email.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="password1">
    {{ form.password1|add_class:"podo-input"|attr:"placeholder:Password"|add_error_class:"error" }}
    {% for error in form.password1.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="password2">
    {{ form.password2|add_class:"podo-input"|attr:"placeholder:Confirm Password"|add_error_class:"error" }}
    {% for error in form.password2.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="nickname">
    {{ form.nickname|add_class:"podo-input"|attr:"placeholder:Nickname"|add_error_class:"error" }}
    {% for error in form.nickname.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="kakao_id">
    {{ form.kakao_id|add_class:"podo-input"|attr:"placeholder:Kakao ID"|add_error_class:"error" }}
    {% for error in form.kakao_id.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="address">
    {{ form.address|add_class:"podo-input"|attr:"placeholder:Address"|add_error_class:"error" }}
    {% for error in form.address.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <button class="podo-button large primary submit" type="submit">Sign Up</button>
</form>
  <div class="footer">
  Already a Member? <a class="podo-link" href="{% url 'account_login' %}">Login</a>
</div>
</div>
{% endblock content %}
